body{
    background-repeat: no-repeat;
}

.li-1 {
    display: inline;
   
	width:120px;
	float:left;
	margin-left:2px;
	border: none;
    padding: 6px,10px;
   

}
.li-2 {
    display: inline;
   

	float:left;
	margin-left:2px;
	border:1px solid #000;
}



.dashboard-1{
  
width: 30%;
height:50px;
position:absolute;
top:0px;
padding-left:10px;



}
.dashboard-2{
  
    width: 100%;
    height:50px;
    background-color: gray;
    padding:10px;
    top:10px;
    left:60px;
    padding-left:-200px;
   
    
    }
    .dashboard-3{
  
       
        background-color:none;
       
     


     position:absolute;
     top:-20px;
     right:40px;
     
        
        
        }
.discript{
padding:20px;
width:20%;
height: 200px;
margin-top: 10%;
background-color:none;


}
.imgdiv{
   
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
  
}
.UL-1{
 margin-left: 20%;
 margin-top: 18px;
 
}
.UL-2{
    margin-top: 45px;
    
   
   }

.btn1{
    border: none;

    background-color: black;
    border-radius: 20px;;
    font-family: Arial, Helvetica, sans-serif;
    
    text-align:center;
    color:#000;
    text-indent:0;
    text-decoration: none;
    font-size: larger;
   margin-left:10px;
   
}
.Title-1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h3{
  font-size: 40px;
}
.a-n{
    text-decoration: none;
    color: white;
    font-size:15px;
}
.btn-2{

    background-color: #000000; /* Green */
    border: none;
    color: white;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 9px;

}



.myButton {
	background-color:black;
	border-radius:28px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:3px 7px;
	text-decoration:none;
	text-shadow:0px 1px 0px #363636;
    border: none;
    
}

.myButton:hover {
	background-color:rgb(128, 127, 127);
    color:black;
    font-size:12px;
    padding:3px 7px;
    
}
.myButton:active {
	position:relative;
	top:1px;
}
.se-1{ 
    margin-left: 82%;
    margin-top: 18px;

}
.in-1{

    padding: 8px 10px;
    

}
.im{
  position: absolute;
  margin-left: 80%;
    


}

.p-2{
    position: absolute;
  margin-left: 83%;
  margin-top: 12%;
  color: white;

}


  
